@model List<CourseModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div>
@foreach (var course in Model)
{

    <p> 
        @course.Id &ndash; @course.Name (@course.Students.Count())
        @Html.ActionLink("Добавить студента", "Create", "Student", new { courseId = course.Id })
    </p>
    <ul style="list-style: none">
        @foreach (var student in course.Students)
        {
            <li>
                @student.LastName
                @student.FirstName
                @Html.ActionLink("Редактировать", "Update", "Student", new { id = student.Id })
                @Html.ActionLink("Удалить", "Delete", "Student", new { id = student.Id })
            </li>
        }
    </ul>


}
</div>

